NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=02feb1435a8b46bbb05057a616e408e37293c1dbad5f4b89944abdb1fcc9867f # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

KEYCLOAK_ID=oauth2-pkce-client
KEYCLOAK_SECRET=NRMjNL0qncKo9cYFnTrp25uln1UPFvoa
KEYCLOAK_ISSUER=https://til-keycloak.fly.dev/realms/next-auth

EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

DATABASE_URL=sqlite://localhost/:memory:?synchronize=true

# Keycloak user credentials for sign-in:
# username: nextauth
# password: Nextauthpass